<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar_local navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar_brand_local navbar-brand">Daily Journal</p>
            </div>
            <ul class="navbar_nav_local nav navbar-nav navbar-right navbar-expand-md">
                <li id="home"><a href="/">Home</a></li>
                <li id="about"><a href="/about">About Us</a></li>
                <li id="contact"><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>